// New styles added to page
.user-card {
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 0;

    .user-card-image {
        border: solid 3px #ddd;
        border-radius: 50%;
        height: 0;
        padding-bottom: 119px;
        position: relative;
        width: 125px;

        img {
            border-radius: 50%;
            height: 100%;
            left: 0;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .user-card-footer{
        background: #ddd ;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px;
    }
}