/*
  Vokasi Studio Style
  Reset style for AdminLTE templates
  Made by Ashari Muhammad Hisbulloh
  asharimh97@gmail.com
  23 November 2017
*/

/*=============== COLORS ==============*/
$mainBlue: #026AA7;
$white : #fff ;
$black : #000 ;